.container{
  background-color: #15022b;
  display: flex;
  color: white;
  height: 700px;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.btn{
  height: 30px;
  width: 50px;
  cursor: pointer;
}